@model MPP_MVC_Carousel.Models.ProdutoModel

@{
    ViewData["Title"] = "Excluir Produto";
    // Para usar O Layout Administrativo
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4 border-left-danger">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Tem certeza que deseja excluir este produto?</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 text-center">
                @if (!string.IsNullOrEmpty(Model.Imagem))
                {
                    <img src="~/produtos/@Model.Imagem" class="img-fluid rounded img-thumbnail" style="max-height: 200px;" />
                }
                else
                {
                    <div class="alert alert-secondary">Sem Imagem</div>
                }
            </div>

            <div class="col-md-9">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Preco)
                    </dt>
                    <dd class="col-sm-9 text-success font-weight-bold">
                        @Model.Preco.ToString("C")
                    </dd>

                    <dt class="col-sm-3">
                        Categoria
                    </dt>
                    <dd class="col-sm-9">
                        @if (Model.Categoria != null)
                        {
                            <span class="badge badge-primary">@Model.Categoria.Nome</span>
                        }
                        else
                        {
                            <span class="text-muted">Não vinculada</span>
                        }
                    </dd>
                </dl>

                <hr />
                
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    
                    <button type="submit" class="btn btn-danger btn-lg">
                        <i class="fas fa-trash"></i> Confirmar Exclusão
                    </button>
                    <a asp-action="Index" class="btn btn-secondary btn-lg ml-2">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>